@model Supplier
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Editing Supplier
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <a class="button text-white bg-theme-1 shadow-md mr-2" asp-action="Index" onclick="ajaxRender(event)">Back To List</a>
    </div>
</div>
<form asp-action="Edit">

    @Html.HiddenFor(ww => ww.SupplierId)

    <div>
        <label asp-for="SupplierName"></label>
        <input asp-for="SupplierName " type="text" class="input w-full border mt-2">
        <span asp-validation-for="SupplierName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="SupplierAddress"></label>
        <input asp-for="SupplierAddress " type="text" class="input w-full border mt-2">
        <span asp-validation-for="SupplierAddress" class="text-danger"></span>
    </div>

    <div class="sm:ml-20 sm:pl-5 mt-5">
        <input type="submit" class="btn button bg-theme-1 text-white">
    </div>
</form>

