
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container" style="min-height:1000px;">
    <h1>About Us</h1>
    <p>
        We are a team trying to learn and help each other  We are a team trying to learn and help each other  We are a team trying to learn and help each other
    </p>
    <p> We are a team trying to learn and help each other</p>
    <div class="row">
        <div class="col-md-4 mt-4">
            <img src="~/img/ehab.jpg" alt="" width="400" height="400" style="border-radius:40px; width:400px!important;height:400px!important;" class="img-thumbnail" />
            <h3 style="text-align:center">Ehab Ibrahim </h3>
        </div>
        <div class="col-md-4 mt-4">

            <img src="~/img/MoBerry.png" alt="" width="400" height="400" style="        border-radius: 40px;     width: 400px !important;    height: 400px !important;" class="img-thumbnail" />
            <h3 style="text-align:center">Mohammad Al-Berry </h3>
        </div>
        <div class="col-md-4 mt-4">

            <img src="~/img/karim.jpg" alt="" width="400" height="400" style="        border-radius: 40px;
        width: 400px !important;
        height: 400px !important;
" class="img-thumbnail" />
            <h3 style="text-align:center">Karim Hashim</h3>
        </div>
        <div class="col-md-4 mt-4">

            <img src="~/img/defaultimg.png" width="400" height="400" alt="" style="        border-radius: 40px;
        width: 400px !important;
        height: 400px !important;
" class="img-thumbnail" />
            <h3 style="text-align:center">Mohamed Ashraf</h3>
        </div>
        <div class="col-md-4 mt-4">

            <img src="~/img/Abdelghany.jpg" width="400" height="400" alt="" style="        border-radius: 40px;
        width: 400px !important;
        height: 400px !important;
" class="img-thumbnail" />
            <h3 style="text-align:center">Abdelghany Hadhoud </h3>
        </div>
        <div class="col-md-4 mt-4">

            <img src="~/img/Mokhtar.jpg" alt="" width="400" height="400" style="        border-radius: 40px;
        width: 400px !important;
        height: 400px !important;
" class="img-thumbnail" />
            <h3 style="text-align:center">Mokhtar </h3>
        </div>
    </div>

</div>

