
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container" style="min-height:1000px;">
    <h1>About Us</h1>
    <p>
        We are a team trying to learn and help each other  We are a team trying to learn and help each other  We are a team trying to learn and help each other
    </p>
    <p> We are a team trying to learn and help each other</p>
    <div class="row">
        <div class="col-md-4 mt-4">
            <img src="~/img/ehab.jpg" alt="" style="border-radius:40px;" class="img-thumbnail" />
            <h3 style="text-align:center">Ehab Ibrahim </h3>
        </div>
        <div class="col-md-4 mt-4">

            <img src="~/img/defaultimg.png" alt="" style="border-radius:40px;" class="img-thumbnail" />
            <h3 style="text-align:center">Perry </h3>
        </div>
        <div class="col-md-4 mt-4">

            <img src="~/img/karim.jpg" alt="" style="border-radius:40px;" class="img-thumbnail" />
            <h3 style="text-align:center">Karim </h3>
        </div>
        <div class="col-md-4 mt-4">

            <img src="~/img/defaultimg.png" alt="" style="border-radius:40px;" class="img-thumbnail" />
            <h3 style="text-align:center">Mohamed </h3>
        </div>
        <div class="col-md-4 mt-4">

            <img src="~/img/defaultimg.png" alt="" style="border-radius:40px;" class="img-thumbnail" />
            <h3 style="text-align:center">Abd Elghany </h3>
        </div>
        <div class="col-md-4 mt-4">

            <img src="~/img/defaultimg.png" alt="" style="border-radius:40px;" class="img-thumbnail" />
            <h3 style="text-align:center">Mokhtar </h3>
        </div>
    </div>

</div>

