@model Category
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Adding New Category
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <a class="button text-white bg-theme-1 shadow-md mr-2" asp-action="Index" onclick="ajaxRender(event)">Back To List</a>
    </div>
</div>
<form id="CreatCat" asp-action="Create">

    <div>
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName " type="text" class="input w-full border mt-2">
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CategoryDescription"></label>
        <input asp-for="CategoryDescription " type="text" class="input w-full border mt-2">
        <span asp-validation-for="CategoryDescription" class="text-danger"></span>
    </div>
    <div>
        <img alt="" class=" w-20 h-20 image-fit rounded" id="catimg" src="">
        <label>ImageUrl</label>
        <input asp-for="ImageUrl " type="text" id="imgurl" class="input w-full border mt-2">
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="sm:ml-20 sm:pl-5 mt-5">
        <input type="submit" class="btn button bg-theme-1 text-white">
    </div>
</form>

<script>
    var catimg = document.querySelector("#catimg");
    var imgUrl = document.querySelector("#imgurl");
    imgUrl.addEventListener('change', function () {
        catimg.src = imgUrl.value;
    })
</script>




